<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    
    <h1>Set Cookies</h1>
    <div align="center">
        <table border="2px" width="50%" style="border-collapse: collapse; text-align: center;">
         
          <th>Name</th>
          <th>Age</th>
          <th>Location</th>
       <tr>
        <td>Hanuman Yadav</td>
        <td>25</td>
        <td>Allahabad</td>
      </tr>
      </table>  
      </div>
</body>
</html>